* {
  box-sizing: border-box;
  outline: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#background {
  display: table;
  width: 100%;
  min-height: 100%;
  background: #000 url("../images/bg.jpg") center no-repeat;
  background-size: cover;
}

#loginContainer {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1rem;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

#inputContainer {
  width: 400px;
  padding: 45px;
  float: left;
  border-right: 1px solid #999;
}

#inputContainer h2 {
  text-align: center;
}

#inputContainer label {
  color: #a0a0a0;
  font-size: 13px;
}

#inputContainer form div {
  margin: 15px 0;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 27px;
  height: 27px;
  width: 100%;
  color: #fff;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
 color:    #fff;
}