html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#background {
  display: table;
  width: 100%;
  min-height: 100%;
  background: #000 url("../images/bg.jpg") center no-repeat;
  background-size: cover;
}

#loginContainer {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1rem;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

#inputContainer {
  width: 400px;
  padding: 45px;
  float: left;
  border-right: 1px solid #999;
}

#inputContainer h2 {
  text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 27px;
  height: 27px;
  width: 100%;
  color: #fff;
}