html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#background {
  display: table;
  width: 100%;
  min-height: 100%;
  background: #000 url("../images/bg.jpg") center no-repeat;
  background-size: cover;
}

#loginContainer {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1rem;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}